/* src/styles/ */.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://source.unsplash.com/random/1920x1080') no-repeat
    center center fixed;
  background-size: cover;
  color: white;
}

.auth-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  text-align: center;
}

.auth-container h1 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #222;
  color: white;
}

.auth-container button {
  width: 90%;
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:disabled {
  background-color: #555;
}

.auth-container .auth-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}
