.popularPage {
    color: white;
    background-color: #121212;
    padding: 20px;
  }
  
  .viewModeToggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .viewModeToggle button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .viewModeToggle button:hover {
    background-color: #555;
  }
  
  .viewModeToggle .active {
    background-color: #e50914;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
  }
  
  /* TableView와 InfiniteScrollView 공통 그리드 스타일 */
  .tableView .movieTable,
  .infiniteScrollView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
  }
  
  .tableItem,
  .scrollItem {
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .tableItem:hover,
  .scrollItem:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tableItem img,
  .scrollItem img {
    width: 100%;
    height: auto;
  }
  
  .tableItem p,
  .scrollItem p {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  /* 페이지네이션 */
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #555;
  }
  
  .pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 1.1rem;
    margin: 0 10px;
    color: white;
  }
  
  /* Scroll to Top Button */
  .scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .scrollToTop:hover {
    background-color: #e50914;
  }
  
  .scrollToTop.show {
    display: block;
    opacity: 1;
    transform: scale(1.1);
  }
  