.search-page {
    padding: 20px;
    background-color: black;
    margin-top: 80px;
  }
  
  .no-results {
    font-size: 18px;
    text-align: center;
    color: #555;
    margin-top: 20px;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .clear-options {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .clear-options:hover {
    background-color: #b00610;
  }
  